
.messages {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 8px;
    margin-bottom: 15px;

    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;

}

.message {
    margin: 8px 0;
    padding: 10px;
    border-radius: 12px;
    max-width: 70%;
    min-width: 50px;
    word-break: break-word;
    box-sizing: border-box;
}

.message-content {
    position: relative;
    display: inline-block;
    max-width: 100%;
}

.message-time {
    font-size: 0.7em;
    text-align: right;
    margin-top: 2px;
    padding-right: 5px;
}

.message-date {
    margin-left: 5px;
    opacity: 0.8;
}

.sent {
    background-color: #286704;
    color: white;
    align-self: flex-end;
}

.message.sent a {
    color: white;
}

.received {
    background-color: #ecf0f1;
    color: #333;
    align-self: flex-start;
}

.message.received a {
    color: #333;
}

.message img {
    max-width: 100%;
    border-radius: 8px;
    margin-top: 5px;
}

.message a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 12px;
    border-radius: 4px;
}

.message a:hover {
    text-decoration: underline;
}

.message-header {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.delete-messages-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #888;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 4px;
    transition: all 0.2s;
}

.delete-messages-button:hover {
    color: #ff4444;
    background-color: #f0f0f0;
}